list

In [1]:
marks = [99.4, 85.3,90, 95.5,90, 86]

student = ["bayezid","apple","mango", 85 ]
student [0] = "redowan"
print(student[0])
print(student[1])
print(len(student))
print(marks.sort())
print (marks)
print(student[:3])
print(student[1:3])
print(student[3:])
print(student[3:-1])

redowan
apple
4
None
[85.3, 86, 90, 90, 95.5, 99.4]
['redowan', 'apple', 'mango']
['apple', 'mango']
[85]
[]

In [11]:
marks = [99.4, 85.3,90, 95.5,90, 86]

marks.append(90)
marks.sort(reverse=True)
print(marks)

marks.remove(90)
marks.pop(0)
print(marks)

[99.4, 95.5, 90, 90, 90, 86, 85.3]
[95.5, 90, 90, 86, 85.3]

In [10]:
student = ["bayezid","apple","mango", 85 ]

student.reverse()
student.insert(0,"cow")
print(student)

['cow', 85, 'mango', 'apple', 'bayezid']

In [16]:
grades = ["A" , "B" , "c", "F" ,"D","F" , "F","a"]
c = grades.count("F")
grades.sort()
print(grades)
print(c)

['A', 'B', 'D', 'F', 'F', 'F', 'a', 'c']
3

In [17]:
favmov = []
mov1 = favmov.append(input ( "enter first movie : "))
mov2 = favmov.append(input ( "enter second movie : "))
mov3 = favmov.append(input ( "enter third movie  : "))

print(favmov)

['iron mman', 'hulk', 'bla']

In [25]:
favmov = []
n = int (input("how many movies are your favourite : "))
    
for movie in range(1,n+1) :
    movie =input("enter movie name (type stop to quit): ").capitalize()
    if (movie == "Stop"):
        break   
    else:
        favmov.append(movie)

       
print(favmov)

[]

In [37]:

movies = []

firstmov= input("1st name : ")
movies.append(firstmov)
secondmov= input("second name : ")
movies.append(secondmov)

movies.append(input("third name : "))

print(movies)

['hola', 'bola', 'gola']

Tuple

In [12]:
tup= (1,2,3,1,2,"bayezid")

print(type(tup))
print(tup.index(3))
print(tup.count(2))

<class 'tuple'>
2
2

In [ ]:
def grade ():
    grade = input("enter the grade : ")
    tup = ("c","d","a","b","a","a")
    sorted = list(tup)
    sorted.sort()
    print (sorted)
    print(tup.count(grade))

grade()

['a', 'a', 'a', 'b', 'c', 'd']
3