Dictionary

In [3]:
info = {
    "name" : "bayezid",
    85 : "id",
    "age" : 25 ,
    "student" : True ,
    "marks" : 80.6 ,
    "subjects" : ["math", "python", "ML"],
    "topic" : ( "set" , "dictionary"),
    "nuldict" : {},

}

In [9]:

info["name"] = "hifzur"
print(info)
print(type(info))

print(info.keys())
print(info.values())
print(info.get("name"))
print(info.items())

newdict = {
    "nuldict" : {"hello" , "hi", "bye"}
}

info.update(newdict)
print(info.get("nuldict"))

{'name': 'hifzur', 85: 'id', 'age': 25, 'student': True, 'marks': 80.6, 'subjects': ['math', 'python', 'ML'], 'topic': ('set', 'dictionary'), 'nuldict': {'bye', 'hello', 'hi'}}
<class 'dict'>
dict_keys(['name', 85, 'age', 'student', 'marks', 'subjects', 'topic', 'nuldict'])
dict_values(['hifzur', 'id', 25, True, 80.6, ['math', 'python', 'ML'], ('set', 'dictionary'), {'bye', 'hello', 'hi'}])
hifzur
dict_items([('name', 'hifzur'), (85, 'id'), ('age', 25), ('student', True), ('marks', 80.6), ('subjects', ['math', 'python', 'ML']), ('topic', ('set', 'dictionary')), ('nuldict', {'bye', 'hello', 'hi'})])
{'bye', 'hello', 'hi'}

In [42]:
marks = {}

while True:
    stop_input = input("press enter or stop to exit").capitalize()
   
    
    if stop_input == "Stop":
        break
    else:
        phy = int(input("Enter the physics numbers: "))
        marks.update({"phy": phy})
        
        che = int(input("Enter the 2nd chemistry numbers: "))
        marks.update({"che": che})
        
        math = int(input("Enter the 3rd math numbers: "))
        marks.update({"math": math})

        break

print(list(marks.items()))

mark_list= list(marks.values())
sum = 0
for i in mark_list :
    sum+=i

avg = sum/len(mark_list)
print( "your avaerage score : ",avg)

[('phy', 67), ('che', 8), ('math', 990)]
your avaerage score :  355.0

In [47]:

marks = {}

n = int(input("how many sub : "))
for i in range(1,n+1):
    sub = input("enter sub name : ")
    mark = int(input("enter marks : "))
    marks.update({sub : mark})
print (marks)

{'hindi': 70, 'bangla': 90, 'english': 60}

Set

In [18]:
coll = {""}
print(type(coll))
coll.add(3)
print(coll)

<class 'set'>
{'', 3}

In [19]:
collection = { 1,2,2,2,3,"hello"}

print(type (collection))
print(len(collection))
collection.add((5,8,"bayezid"))
collection.remove(1)
print(collection.pop())
print (collection)

<class 'set'>
4
2
{3, 'hello', (5, 8, 'bayezid')}

In [20]:
union = coll.union(collection)
common = coll.intersection (collection)

print(union)
print(common)

{'', (5, 8, 'bayezid'), 3, 'hello'}
{3}

In [21]:
sub  = { "python","java","python","java","c","c","c","c++","c#","c#"}

print("the classroom will need is : ", len(sub))

the classroom will need is :  5

In [45]:
sub = ["py", "java", "py", "java","c", "c++","c","c#"]
classes = set(sub)
print("classroom is needed for all student is : ", len(classes))

classroom is needed for all student is :  5

In [43]:
setvalue = {9, "9.0"}
setvalue.add(("float",9.0,"int",9))
print(setvalue)

{9, '9.0', ('float', 9.0, 'int', 9)}

classroom is needed for all student is :  5