While

In [3]:
count = 1
while count <= 5:
    print("hello")
    count+=1

hello
hello
hello
hello
hello

In [5]:
i = 5

while i>=1 :
    print(i)
    i-=1

5
4
3
2
1

In [9]:
n= int(input("enter number : "))
i=1
while i<=10 : 
    print(n*i)
    i+=1

10
20
30
40
50
60
70
80
90
100

In [11]:
numlist = [1,4,9,16,25,36,49,64,81,100]

idx = 0

while idx < len(numlist):
    print(numlist[idx])
    idx+=1

1
4
9
16
25
36
49
64
81
100

In [12]:
heros = ["captain","black","hulk"]

i = 0

while i< len(heros):
    print(heros[i])
    i+=1

captain
black
hulk

In [3]:
nums = [1,4,9,16,25,36,49,64,81,100]

i = 0

while i<len(nums) : 
    print(nums[i])
    if nums[i] == 81:
        break
    i+=1

1
4
9
16
25
36
49
64
81

In [42]:
marks = {}

while True:
    name =input("enter student's name :").capitalize()
    if name == "Stop":
        break
    else:
        mark = int(input("enter mark : "))
        marks[name] = mark
        
marks

{'Bayezid': 70}

In [26]:
while True:
    name = input("enter name: ")
    if (name == "bayezid"):
        print("hello bayezid")
        break
    else:
        print("try again")

try again
try again
hello bayezid

In [ ]:

a = [1,2,3,4,5]

while a:
    print(a.pop())
else:
    print("list is empty")

5
4
3
2
1
list is empty

In [38]:
a = [1,2,3,4,5]
b = []
while a:
    b.append(a.pop())
b

[5, 4, 3, 2, 1]

In [40]:
import random
n = random.randint(1,10)

while True : 
    guess = int(input("enter a guess: "))
    if n==guess:
        print("you guessed it right")
        break
    if n<guess: 
        print("too high")
    elif n>guess:
        print("too low")
    else:
        print("try again")
        
print("the number was",n)

too low
too low
too low
too high
you guessed it right
the number was 6

For

In [5]:
numbers = [1,4,9,16,25,36]

for elements in numbers:
    print(elements)

1
4
9
16
25
36

In [7]:
str = "applepie"

for latter in str :
    print(latter)
    if latter == "e":
        break

a
p
p
l
e

In [13]:
nums = (1,4,9,16,25,36,49,64,81,100,36)

x = 36
i = 0
for el in nums :
    if el == x :
        print("found at : ",i)
        break
    i+=1

found at :  5

In [19]:

for el in range(5,11):
    print (el)

5
6
7
8
9
10

In [20]:
for el in range(1,10,2):
    print(el)

for el in range(10,0,-1):
    print(el)

1
3
5
7
9
10
9
8
7
6
5
4
3
2
1

In [23]:
n = int(input("enter number : "))

for i in range (1,11):
    print(i*n)

for i in range(5):
    pass

5
10
15
20
25
30
35
40
45
50

In [26]:
n = 10

sum = 0

for i in range(1,n+1):
    sum+=i
sum

55

In [37]:
num = 5
fact = 1

for i in range(1,n+1):
    fact*=i

fact

120

{'Bayezid': 70, 'Hi': 70, 'Bye': 90}

In [46]:

successful = False
for _ in range (3):
    print("attempt")
    if successful:
        print("successful")
        break
else:
    print("3 ATTEMPTS BUT failure")

attempt
attempt
attempt
3 ATTEMPTS BUT failure

In [54]:
for i in "python":
    print(i, end="*")

p*y*t*h*o*n*

In [61]:
count =0
for even in range(1,11):
    if (even%2 == 0):
        print("even",even)
        count+=1
print(f"we got {count} even numbers")

even 2
even 4
even 6
even 8
even 10
we got 5 even numbers

In [62]:
for _ in range(5):
    for y in range(1,11):
        print(y,end=" ")
    print()

1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10

In [1]:
for i in range (5):
    print((i+1)*"* ")

*
* *
* * *
* * * *
* * * * *

In [2]:
# table #
col = int(input("enter col: "))
row = int(input("enter row: "))
sym = input("enter symbol: ")

for _ in range(row):
    for _ in range(col):
        print(sym,end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *

In [16]:
n = int(input("enter number: "))

for i in range(n):
    for _ in range(i+1) :
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [24]:
n = int(input("enter number: "))
for i in range(n-1,-1,-1):
    for _ in range(i+1):
        print("*", end=" ")
    print()

* * * *
* * *
* *
*

In [52]:
fruits = ["apple", "banana", "cherry"]

for fruit in  fruits:
    print(fruit)

apple
banana
cherry

In [9]:

adjs = ["red", "big", "tasty"]
nouns = ["apple", "banana", "cherry"]


for adj in adjs:
    i =0
    for noun in nouns:
        print(adjs [i] , nouns[i])
        i+=1

red apple
big banana
tasty cherry
red apple
big banana
tasty cherry
red apple
big banana
tasty cherry

In [60]:

fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    count = 1
    while count <=5:
        print (fruit, end=" ")
        count +=1
    print()

apple apple apple apple apple
banana banana banana banana banana
cherry cherry cherry cherry cherry

In [10]:
for adj, noun in zip(adjs, nouns):
    print(adj, noun)

red apple
big banana
tasty cherry

In [55]:
colors =["red", "green", "blue"]
items = ["book", "pen", "pencil"]

colored_items = []
for color in colors:
    for item in items:
        colored_items.append(color +" "+ item)

print(colored_items)

['red book', 'red pen', 'red pencil', 'green book', 'green pen', 'green pencil', 'blue book', 'blue pen', 'blue pencil']

In [11]:
lst= [1,2,3,4,5,6,7,8,9,10]

sum = 0
for i in lst:
    sum+=i
print("sum",sum)
print("average",sum/len(lst))

sum 55
average 5.5

In [14]:
num = [1,2,3,4,5,6,7,8,9,10]
cube = []

for i in num:
    cube .append(i ** 3)
print(num)
print(cube)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [43]:

sum = 0
for i in range(11):
    if (i%2 == 0):
        sum = sum+i
print("the sum of even numbers from 0-10 is:",sum )

the sum of even numbers from 0-10 is: 30

In [63]:
lst = [1, 5, 6, 5, 1, 2, 3]
dup = []

for i in lst:
    if lst.count(i) > 1:
        if i not in dup:
            dup.append(i)

print(dup)

[1, 5]